:root {
/*  --telegram-bg-color: #fff;
  --telegram-hint-color: #F0F1F5;
  --Text-Dark: #1B1B1B;
  --Font-Size-H0: 54px;
  --Font-Size-H1: 38px;
  --Font-Size-H2: 24px;
  --Font-Subhead-Size-M: 22px;
  --Font-Subhead-Size-S: 20px;
  --Font-body-xl: 18px;
  --Font-body-l: 16px;
  --Font-body-m: 14px;
  --Font-body-s: 12px;
  --Font-Size-m: 16px;
  --Font-Size-s: 14px;
  --Font-Size-xs: 12px;
  --Font-Size-xxs: 10px;
  --Colors-System-Green: #61C66C;
  --Colors-System-Red: #FF584E;*/
}

h1, h2, h3, h4, h5, h6, p, span, a {
  font-family: "DM Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

html, body, #root, main{
  min-height: 100vh;
}

body {
  background: var(--telegram-hint-color, white);
  padding: 0;
  margin: 0;
  overflow: hidden;
}

main {
  max-height: calc(var(--tg-viewport-height, 100vh) - 56px);
  overflow-y: auto;
  width: 100%;
}

.container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}


.ton-connect__button {
  & button {
    background-color: #fff;

    & svg path {
      fill: black;
    }

    & div {
      color: var(--Text-Dark, black);
      font-size: var(--Font-Size-sm, 14px);
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }
  }
}

.main-page{
  & h1 {
    margin:  0;
  }

  & h2{
    margin: 10px 0 10px 24px;
  }

  & .cards-wrapper{
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  & .card{
    margin: 0 auto !important;
    flex-shrink: 0;
  }

  & .card-buttons{
    display: flex;
    justify-content: flex-end;
    background: #fff;
    gap: 12px;
    padding: 0 24px 12px;
  }
}

[data-tc-dropdown-container="true"] {
  left: 50% !important;
  transform: translate(-50%, 0) !important;
}